.App {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}

.logo {
  margin-left: 3vw;
}

nav {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.headerLine {
  width: 35vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navRight {
  width: 50vw;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10vw;
}

.lineOnNav {
  width: 5vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

ol {
  width: 45vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 3vw;
}

li {
  padding: 3vh 0px 3vh 0px;
  border-bottom: 2px white solid;
}

.link {
  word-spacing: 1vw;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2vw;
}
