.App {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.headerLine {
  width: 40vw;
  height: 0.1px;
  background-color: white;
}

ol {
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

li {
  padding: 20px 0 2px 0;
  /* border-bottom: tomato solid 10px; */
}

.link {
  word-spacing: 1vw;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
